.enggbg{
    /* background-image: url("./assets/enggbg.jpeg"); */
    /* opacity:0.4; */
    height:100vh;
    /* background-repeat: no-repeat; */
    color:black;
    background-color: whitesmoke;
    padding: 3vh;
}

.engg_1{
    padding:3vh;
    height: 100vh;
    color: black;
}

.engg_1_1{
  font-style:italic;
  text-align:center;
  color:black;
  margin-top:0vh;
  padding-left:10vh;
  padding-right:10vh;
}

.engg_1_2{
    text-align: center;
    margin-top: 3vh;
}

.engg_1_3{
    margin-top:3vh;
    margin-left: 530px;
    height: 2px;
    width: 200px;
    background-color: rgb(166, 236, 34);
}
.engg_1_4{
  margin-top : 0vh;
  width:65vh;
  height:65vh;
}

.engg_1_5{
    text-align: center;
    padding:3vh;
    margin-top: 15vh;
    text-justify: auto;
}
.engg_4_4_1{
    border-radius: 30vh;
    padding:1vh;
    margin-top: 3vh;
    padding-left:5vh;
    padding-right:5vh;  
}


@media(max-width:768px){
    .enggbg{
        height:auto;
        width:auto;
        color:black;
        background-color: whitesmoke;
        padding: 2vh;
    }
    
    .engg_1{
        padding:2vh;
        height: auto;
        color: black;
    }
    
    .engg_1_1{
      font-style:italic;
      text-align:center;
      color:black;
      margin-top:0vh;
      padding-left:3vh;
      padding-right:3vh;
    }
    
    .engg_1_2{
        text-align: center;
        margin-top: 0vh;
    }
    
    .engg_1_3{
        margin-top:2vh;
        margin-left: 80px;
        height: 2px;
        width: 200px;
        background-color: rgb(166, 236, 34);
    }
    .engg_1_4{
      margin-top : 0vh;
      padding: 0vh;
      width:50vh;
      height:65vh;
    }
    
    .engg_1_5{
        text-align: center;
        padding:3vh;
        padding-left: 5vh;
        padding-right: 5vh;
        margin-top:3vh;
    }
    .engg_4_4_1{
        border-radius: 30vh;
        padding:1vh;
        margin-top: 3vh;
        font-size: 14px;
        padding-left:2vh;
        padding-right:2vh;  
    }
}



@media (min-width : 768px)
and (max-width : 1024px)
 {
  
.enggbg{
        height:auto;
        width:auto;
        color:black;
        background-color: whitesmoke;
        padding: 2vh;
    }
    
    .engg_1{
        padding:2vh;
        height: auto;
        color: black;
    }
.engg_1_3{
  margin-top:3vh;
  margin-left: 250px;
  height: 2px;
  width: 175px;
  background-color: rgb(166, 236, 34);
}
.engg_1_4{
    margin-top : 0vh;
    padding: 0vh;
    width:25vh;
    height:40vh;
  }
  .engg_1_5{
    text-align: center;
    padding:3vh;
    margin-top: 3vh;
    text-justify: auto;
}
}